body {
    background-image: url("images/greyWashWall.jpg");
    background-image:linear-gradient(to bottom, #666666 0%, silver 100%);
}

.headerbox{
	font-size: 32px;
	font-weight: 700;
	font-family: 'Georgia', Times, Times New Roman, serif; 
	background-color: #4aaaa5;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	margin-bottom: 0px;
}

.txtclr {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif; 
    font-weight: 600;
}

.txtclr2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif; 
    font-size: 20px;
}

.txtclr3 {
	background-color: #4aaaa5;
	color: white;
    font-family: 'Georgia', Times, Times New Roman, serif; 
    font-weight: 500;
    font-size: 18px;
    padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.bgwhite {
	background-color: white;
}

.userPanel{
	background-image:linear-gradient(to bottom, #d00000 0%, #666666 100%);
}

p {
	background-image:linear-gradient(to bottom, #666666 0%, #f00000 100%);
	color: white;
	font-size: 24px;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

button {
    background-color: #4aaaa5;
    color: white;
    font-size: 16px;
    font-weight: 600; 
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
}

.button-clear{
		color: orange;
		width: 100%;
		font-size: 26px;
		font-weight: 700; 
		background-color: navy;
		border-radius: 25px;
		letter-spacing: 1.5px;
		border-color: gold;
}

.footerbox {
	background-color: #4aaaa5;
	height: 10px;
	margin-top: 100px;
}

.footer {
	background-color: #666666;
	color: silver;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
