body {
    background-image: url("../images/greyWashWall.jpg");
    /*background-image:linear-gradient(to bottom, #666666 0%, silver 100%);*/
}

.headerbox{
	font-size: 35px;
	font-family: 'Chango';
	background-image:linear-gradient(to bottom, #666666 0%, #f00000 100%);
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	margin-bottom: 0px;
	letter-spacing: 1.75px;
}

.txtclr {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif; 
    font-weight: 600;
}

.txtclr2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif; 
    font-size: 20px;
}

.txtclr3 {
	background-color: #4aaaa5;
	color: white;
    font-family: 'Georgia', Times, Times New Roman, serif; 
    font-weight: 500;
    font-size: 18px;
    padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.bgwhite {
	background-color: white;
}

.userPanel{
	background-image: url("../images/attackBG.jpg");
	margin-top: 25px;
	/*background-image:linear-gradient(to bottom, yellow 0%, black 100%);*/
}

.panel-title {
	background-image:linear-gradient(to bottom, #666666 0%, #f00000 100%);
	color: white;
	font-size: 24px;
	font-family: 'Dosis', sans-serif;
}

.panel-body {
	color: white;
	font-size: 18px;
	font-family: 'Chango', sans-serif;
}

.win-loss {
	color: white;
	font-size: 18px;
	font-family: 'Chango', sans-serif;	
}

button {
    background-color: #c39d61;
    color: white;
    font-size: 16px;
    font-weight: 600; 
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
}

.contBtn{
	background-image:linear-gradient(to bottom, silver 0%, black 100%);
	color: white;
	font-size: 24px;
	font-family: 'Dosis', sans-serif;
}

.button-clear{
		color: #f1f1f1;
		width: 70%;
		font-size: 26px;
		font-family: 'Chango', sans-serif;
		background-image:linear-gradient(to bottom, white 0%, #0068a9 25%, #293582 100%);
		border-radius: 25px;
		letter-spacing: 3px;
		border-color: gold;
}

.footerbox {
	background-color: #f1f1f1;
	height: 10px;
	margin-top: 100px;
}

.footer {
	background-color: #666666;
	color: silver;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: courier;
}
